@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-gradient: linear-gradient(135deg, #e0e0e0, #fceabb 95%);

      /* Grid line color options */
    --grid-color1: rgba(255,255,255,0.7); 
    --grid-color2: rgba(0,0,0,0.1); 
    --animate-draw-stroke-params: 2s ease-in;

}

@keyframes draw-stroke-me {
  0% {
    stroke: rgba(166, 58, 80, 0.8);
    stroke-width: 1;
    stroke-dasharray: 0 32%;
    stroke-dashoffset: 25%;
    fill: transparent;
  }
  50% {
    stroke: rgba(166, 58, 80, 0.8);
    stroke-width: 1;
    fill: transparent;
  }
  80%,
  100% {
    stroke: transparent;
    stroke-width: 0;
    stroke-dasharray: 32% 0;
    stroke-dashoffset: -25%;
    fill: rgba(166, 58, 80, 0.8);
  }
}

@keyframes draw-stroke-verse {
  0% {
    stroke: rgba(0, 128, 128, 0.8);
    stroke-width: 1;
    stroke-dasharray: 0 32%;
    stroke-dashoffset: 25%;
    fill: transparent;
  }
  50% {
    stroke: rgba(0, 128, 128, 0.8);
    stroke-width: 1;
    fill: transparent;
  }
  80%,
  100% {
    stroke: transparent;
    stroke-width: 0;
    stroke-dasharray: 32% 0;
    stroke-dashoffset: -25%;
    fill: rgba(0, 128, 128, 0.8);
  }
}

.montserrat-bg {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* -------------------------------------------------------------
    Background grid
   ------------------------------------------------------------- */
body {
  margin: 0;
  min-height: 100vh;
  background: var(--bg-gradient);
  overflow: hidden;
  
}

.grid {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  z-index: -1;
}

.grid line {
  /* fallback soft shadow */
  stroke: var(--grid-color1); 
}

/* -------------------------------------------------------------
    CSS for gsap animation objects
   ------------------------------------------------------------- */

.color1 {
    color: rgba(52, 152, 219, 0.5);
}
.color2 {
    color: rgba(155, 89, 182, 0.5);
}
.color3 {   
    color: rgba(230, 126, 34, 0.5);
}
.color4 {
    color: rgba(26, 188, 156, 0.5);
}

#title-subtitle {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 65vh;
  left: 10%;
  top:30%;
}

#page-title-svg {
  padding-left: 1%;
}
/* Default font styles for the whole text block (can be inherited by tspans) */
#page-title-svg text {
  font-family: "Roboto", sans-serif; /* Set common font-family here */
  font-size: 20vh; /* Set common font-size here */
  letter-spacing: -0.05em; /* Set common letter-spacing here */  
}

#subtitle {
  font-size: 10vh;
  opacity: 0.8;
  padding-left: 1%;
}

#cursor {
  font-size: 10vh;
  opacity: 0.8;
  padding-left: 1%;
}

#message {
  position: absolute;
  z-index: 100;
  background-color: rgba(166, 58, 80, 0.8);
  width: 100%;
  height: 7%;
  left: 10%;
  bottom:25%;
  font-size: 5vh;
  opacity: 0.8;
  padding-left: 1%;
  color: rgba(255,255,255,1);
  display: flex;       
  align-items: center; 
}

/* Styles for the "me" part */
.roboto-me {
  /* Inherits font-family, font-size, letter-spacing from parent <text> */
  font-weight: 600; /* Specific font-weight for "me" */
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  fill: rgba(166, 58, 80, 0.8); /* Use fill for SVG text color */
  animation: draw-stroke-me var(--animate-draw-stroke-params);  
}

/* Styles for the "verse" part */
.roboto-verse {
  /* Inherits font-family, font-size, letter-spacing from parent <text> */
  font-weight: 350; /* Specific font-weight for "verse" */
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  fill: rgba(0, 128, 128, 0.8); /* Use fill for SVG text color */
  animation: draw-stroke-verse var(--animate-draw-stroke-params);
}