@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
    --bg-gradient: linear-gradient(135deg, #e0e0e0, #fceabb 95%);

      /* Grid line color options */
    --grid-color1: rgba(255,255,255,0.7); 
    --grid-color2: rgba(0,0,0,0.1); 

}

.montserrat-bg {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* -------------------------------------------------------------
    Background grid
   ------------------------------------------------------------- */
body {
  margin: 0;
  min-height: 100vh;
  background: var(--bg-gradient);
  overflow: hidden;
  
}

.grid {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  z-index: -1;
}

.grid line {
  /* fallback soft shadow */
  stroke: var(--grid-color1); 
}

/* -------------------------------------------------------------
    CSS for gsap animation objects
   ------------------------------------------------------------- */

.color1 {
    color: rgba(52, 152, 219, 0.5);
}
.color2 {
    color: rgba(155, 89, 182, 0.5);
}
.color3 {   
    color: rgba(230, 126, 34, 0.5);
}
.color4 {
    color: rgba(26, 188, 156, 0.5);
}

/* Styles for the "me" part */
.roboto-me {
  /* Inherits font-family, font-size, letter-spacing from parent <text> */
  font-weight: 600; /* Specific font-weight for "me" */
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: rgba(166, 58, 80, 0.8);
}

/* Styles for the "verse" part */
.roboto-verse {
  /* Inherits font-family, font-size, letter-spacing from parent <text> */
  font-weight: 350; /* Specific font-weight for "verse" */
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: rgba(0, 128, 128, 0.8); 
}

#title-container span {
  display: inline-block;
}